---

---

<div class="avatar-grid">
    <slot/>
</div>

<style>
    .avatar-grid {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
</style>
